{% extends 'base.html' %}
{% block body %}

<h1>Trending on the Bay</h1>
<form method="get" action="/search">
    <input type="text" name="keyword" required="true" autofocus value="{{ keyword }}">
    <input type="submit" value="search">
</form>

{% if results.error %}
<p><b>Error:</b> {{ results.error }}</p>
{% endif %}

{% if results.matches %}
<p><b>{{ results.matches }}</b> results for: <b>{{ keyword }}</b></p>
{% endif %}

{% if results.products %}
<h2>Sold listings</h2>
{% if results.stats %}
<table>
    <tr>
        <th>Average sold</th>
        <th>Average new</th>
        <th>Average not new</th>
        <th>Highest</th>
        <th>Lowest</th>
    </tr>
    <tr>
        <td>{{ results.stats.average }}</td>
        <td>{{ results.stats.average_new }}</td>
        <td>{{ results.stats.average_other }}</td>
        <td>{{ results.stats.highest }}</td>
        <td>{{ results.stats.lowest }}</td>
    </tr>
</table>
{% endif %}

<table>
    <tr>
        <th>Item</th>
        <th>Condition</th>
        <th>Price</th>
        <th>Shipping</th>
        <th>Total</th>
    </tr>
    {% for product in results.products %}
    <tr>
        <td><a href="{{ product.url }}">{{ product.title }}</a><br>
            <span class="end_date">Sold: {{ product.endDate }}</span></td>
        <td>{{ product.condition }}</td>
        <td>{{ product.soldPrice }}</td>
        <td>{{ product.shipping }}</td>
        <td>{{ product.totalPrice }}&nbsp;{{ product.soldCurrency }}</td>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
