{% extends 'base.html' %}
{% block body %}
<h1>Trending on the Bay</h1>
<form method="get" action="/search">
    <input type="text" name="keyword" required="true" autofocus value="{{ keyword }}">
    <input type="submit" value="search">
</form>

{% if results.error %}
<p><b>Error:</b> {{ results.error }}</p>
{% endif %}

{% if results.matches %}
<p><b>{{ results.matches }}</b> results for: <b>{{ keyword }}</b></p>
{% endif %}

{% if results.products %}
<h2>Sold listings</h2>
{% if stats %}
<table class="stats">
    <tr>
        <th>&nbsp;</th>
        <th>Average</th>
        <th>Highest</th>
        <th>Lowest</th>
    </tr>
    <tr>
        <td>Overall</td>
        <td>{{ stats.average }}</td>
        <td>{{ stats.highest }}</td>
        <td>{{ stats.lowest }}</td>
    </tr>
    <tr>
        <td>New</td>
        <td>{{ stats.average_new }}</td>
        <td>{{ stats.highest_new }}</td>
        <td>{{ stats.lowest_new }}</td>
    </tr>
    <tr>
        <td>Not new</td>
        <td>{{ stats.average_other }}</td>
        <td>{{ stats.highest_other }}</td>
        <td>{{ stats.lowest_other }}</td>
    </tr>
</table>
{% endif %}

<table class="results">
    <thead>
        <tr>
            <th colspan="2">Item</th>
            <th>Condition</th>
            <th>Price</th>
            <th>Shipping</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for product in results.products %}
    <tr>
        <td><a href="{{ product.url }}" title="View original listing">{{ product.title }}</a>
            <p class="end_date">Sold: {{ product.endDate }}</p></td>
        <td><a href="{{ product.url }}"><img src="{{ product.image }}" alt="{{ product.title }}" class="gallery"></a></td>
        <td>{{ product.condition }}</td>
        <td>{{ product.soldPrice }}</td>
        <td>{{ product.shipping }}</td>
        <td>{{ product.totalPrice }}&nbsp;{{ product.soldCurrency }}</td>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
