{% extends 'base.html' %}
{% block body %}

<h1>Trending on the Bay</h1>
<form method="get" action="/search">
    <input type="text" name="keyword" required="true" autofocus value="{{ keyword }}">
    <input type="submit" value="search">
</form>

<p><b>{{ results.matches }}</b> results for: <b>{{ keyword }}</b></p>

{% if results.products %}
<table>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Condition</th>
    </tr>
    {% for product in results.products %}
    <tr>
        <td>{{ product.title[0] }}</td>
        <td>{{ product.sellingStatus[0].currentPrice[0].__value__ }}</td>
        <td>{{ product.condition[0].conditionDisplayName[0] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
